<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<title>Logs</title>
	</head>
	<body>
	<ul>
		{% for log in logs %}
			<li>
				<a href="/{{ log }}">
						{{ log }}
			</li>
		{% endfor %}
		</ol>
	</body>
</html>